@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

* {
    box-sizing: border-box;
}

input[type="button"] {
    position: relative;
}

input[type="button"]:active {
    position: relative;
    top: 0.8vw;
    box-shadow: none;
}